{% comment %}
  Completly snatched from Michael Rose's MadeMistake blog post https://mademistakes.com/articles/improving-jekyll-static-comments/
{% endcomment %}
<section class="reactions post-footer">
  {% if site.data.comments[page.slug] %}
    <!-- Start static comments -->
    <div id="comments">
      <h2>
        {% if site.data.comments[page.slug].size > 1 %}
          {{ site.data.comments[page.slug] | size }} {{ locale.comments }}
        {% else %}
          {{ locale.comments_maj }}
        {% endif %}
      </h2>
      {% if site.data.comments[page.slug].size > 0 %}
        <ul class="comments">
        {% assign comments = site.data.comments[page.slug] | where_exp: 'item', "item.replying_to == ''" %}
        {% assign sortedcomments = comments | sort: 'date' %}
        {% for comment in sortedcomments %}
          {% assign index       = forloop.index %}
          {% assign r           = comment.replying_to %}
          {% assign replying_to = r | to_integer %}
          {% assign avatar      = comment.avatar %}
          {% assign email       = comment.email %}
          {% assign name        = comment.name %}
          {% assign url         = comment.url %}
          {% assign date        = comment.date %}
          {% assign message     = comment.message %}
          {% include comment.html.liquid index=index replying_to=replying_to avatar=avatar email=email name=name url=url date=date message=message %}
        {% endfor %}
        </ul>
      {% endif %}
    </div>
    <!-- End static comments -->
  {% endif %}

  {% unless page.comments_locked == true %}
    <!-- Start new comment form -->
    <div id="respond">
      <h3 class="page__section-label">{{ locale.leave_comment }} <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" class="npe" style="display:none;">{{ locale.cancel }}</a></small></h3>

      <form id="comment-form" netlify-honeypot="cb" class="page__form js-form form" method="POST" action="comment" data-netlify="true">
        <fieldset>
          <label for="comment-form-message"><strong>{{ locale.comment_maj }}</strong> <small></small></label>
          <textarea type="text" rows="6" id="comment-form-message" name="message" required spellcheck="true"></textarea>
        </fieldset>
        <fieldset>
          <label for="comment-form-name"><strong>{{ locale.name }}</strong></label>
          <input type="text" id="comment-form-name" name="name" autocomplete="name" required spellcheck="false">
        </fieldset>
        <fieldset>
          <label for="comment-form-email"><strong>{{ locale.email }}</strong> <small>({{ locale.optional }})</small></label>
          <input type="email" id="comment-form-email" name="email" autocomplete="email" spellcheck="false">
        </fieldset>
        <fieldset>
          <label for="comment-form-url"><strong>{{ locale.site }}</strong> <small>({{ locale.optional }})</small></label>
          <input type="url" id="comment-form-url" name="url" autocomplete="url"/>
        </fieldset>
        <fieldset>
          <label for="comment-form-cb"><strong>{{ locale.planet }}</strong></label>
          <input type="text" id="comment-form-cb" name="cb" autocomplete="url"/>
        </fieldset>
        <fieldset class="hidden" style="display: none;">
          <input type="hidden" id="comment-post-url" name="origin" value="{{ page.url | absolute_url }}">
          <input type="hidden" id="comment-replying-to" name="replying_to" value="">
          <input type="hidden" id="comment-post-id" name="slug" value="{{ page.slug }}">
          <input type="hidden" id="comment-timestamp" name="timestamp" value="">
          <input type="hidden" id="comment-guid" name="guid" value="">
        </fieldset>
        <fieldset>
          <div data-netlify-recaptcha="true"></div>
          <button type="submit" id="comment-form-submit" class="btn">{{ locale.post_the_comment }}</button>
        </fieldset>
        <p class="info success hidden">
          {{ locale.comment_post_success }}
        </p>
        <p class="info fail hidden">
          {{ locale.houston }}
        </p>
      </form>
    </div>
    <!-- End new comment form -->
  {% else %}
    <p><em>{{ locale.closed_comments }}</em></p>
  {% endunless %}
</section>