{% capture post_content %}
    {{ post.content }}{% unless page.hide_message %}
    <hr>
    <div style="font-style:italic">
        <p>
            {{ locale.you-re-subscribed }}{% unless has_cat %}.{% else %}&nbsp;:
        </p>
        <ul>
            {% if has_cat %}<li>{{ locale.from-category }} {% include category_display.html.liquid category=page.category %}&nbsp;;</li>{% endif %}
            <li>{{ locale.written-in }} {% include locale_display.html.liquid locale=page.locale %}.</li>
        </ul>
        {% if page.category != 'web' %}<p>
            {{ locale.only-web-related }} <a href="{{ "web/feed.xml" | prepend: page.base-url | prepend: site.url }}">{{ locale.this-feed }}</a>.
        </p>{% endif %}
    </div>{% endunless %}
    {% endunless %}
{% endcapture %}{{ post_content | xml_escape }}