<footer class="post-footer">
  <div class="contrib">
    <p>
      <em>{{ locale.error-github }}, {{ locale.please-submit }} <a rel="nofollow" href="{{ site.author.github|raw }}/borisschapira.com/tree/master/_posts/{{ page.locale | slice: 0,2 | downcase }}/{{ page.category | downcase }}/{{ page.date | date: "%Y" }}/{{ folderName }}/{{ source.last }}">{{ locale.modifation-of }} <span class="nowrap">{{ locale.source-code }}</span></a>
      {{ locale.or-open }} <a class="nowrap" href="{{ site.author.github|raw }}/borisschapira.com/issues/new?title=Article%20%22{{page.url}}%22" rel="nofollow">{{ locale.issue }}</a>.</em>
    </p>
  </div>
</footer>
