{% if include.postPage %}
  {% assign post = page %}
{% endif %}

<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting"{% if include.postPage %} id="content"{% else %} aria-labelledby="{{ post.slug }}"{% endif %}>
    <header class="p-header">
        {% assign datetime = post.date | date_to_xmlschema %}<time class="p-date dt-published" datetime="{{ datetime }}">{{ post.date | localize_date: ":long" }}</time>{% if page.locale =='fr' %}<span class="p-category"><a href="{{ post.category | downcase | absolute_url }}" title="{{ locale.posts_in }} {{ locale.the_category }} {{ post.category }}">{{ post.category }}</a></span>{% endif %}{% include reading_time.html.liquid content=post.content %}<span class="p-author h-card">{{ site.author.name }}</span>
    </header>

  {% capture hn %}h2{% endcapture %}
  {% if page.displayCustomTitle %}
    {% capture hn %}h3{% endcapture %}
  {% endif %}

  <{{hn}} class="post-title p-name"{% unless include.postPage %} id="{{ post.slug }}"{% endunless %}>
    {% if include.postPage %}
        {{ post.title }}
    {% else %}
    <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
    {% endif %}
  </{{hn}}>

  <div class="post-content">
    {% if include.postPage %}
      {{ post.content }}
    {% else %}
      {% if post.content contains "<!-- more -->" %}
        {{ post.content | split:"<!-- more -->" | first | markdownify % }}
        <p class="read-more">
          <a href="{{ post.url | absolute_url }}" title="{{post.title}}">{{ locale.read_more }} →</a>
        </p>
      {% elsif post.content.size < 1000 %}
        {% if post.content contains "<figure>" %}
          {{ post.content | split:"<figure>" | first | markdownify % }}
          <p class="read-more">
            <a href="{{ post.url | absolute_url }}" title="{{post.title}}">{{ locale.read_more }} →</a>
          </p>
        {% else %}
          {{ post.content | markdownify }}
        {% endif %}
      {% else %}
        {{ post.excerpt | markdownify }}
        <p class="read-more">
          <a href="{{ post.url | absolute_url }}" title="{{post.title}}">{{ locale.read_more }} →</a>
        </p>
      {% endif %}
    {% endif %}
  </div>
</article>
