<div class="sidebar" role="navigation">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "" | absolute_url }}" itemprop="url">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">

      <ul class="categories" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="sidebar-nav-item {% if page.category == 'web' %} active{% endif %}" itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"><a href="{{ locale.category_web | downcase | absolute_url }}" itemscope  itemtype="http://schema.org/Thing" itemprop="item">{{ locale.category_web }}</a></li>

        {% if page.locale == 'fr' %}<li class="sidebar-nav-item{% if page.category == 'citoyen' %} active{% endif %}" itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a href="{{ locale.category_citizen | downcase | absolute_url }}/" itemscope itemtype="http://schema.org/Thing" itemprop="item">{{ locale.category_citizen }}</a>
        </li>{% endif %}

        <li class="sidebar-nav-item{% if page.category == 'papa' %} active {% endif %}" itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a href="{{ locale.category_dad | downcase | absolute_url }}/" itemscope itemtype="http://schema.org/Thing" itemprop="item">{{ locale.category_dad }}</a>
        </li>

        <li class="sidebar-nav-item{% if page.i18n-key == 'search' %} active{% endif %}" itemprop="itemSearchResultsPage" itemscope
        itemtype="http://schema.org/SearchResultsPage">
        <a href="{{ locale.search | downcase | absolute_url }}/" itemscope itemtype="http://schema.org/SearchResultsPage" itemprop="item">{{ locale.search }}</a>
        </li>
      </ul>

      <div class="lang">
        <ul>
          {% if page.translation %}
            {% assign lang = page.translation.locale | slice: 0,2 %}
            {% capture read_in %}{{ locale.read_in }} {% if lang == "en" %}{{ locale.english }}{% else %}{{ locale.french }}{% endif %}{% endcapture %}
            <li><a class="{{ lang }}" href="{{ page.translation.url }}"><span class="sr-only">{{ read_in }}</span><svg class="icon flag-{{ lang }}" aria-hidden="true"><use xlink:href="#flag-{{ lang }}"></use></svg></a>
          {% endif %}
        </ul>
      </div>

      <ul class="secondary">
        <li class="sidebar-nav-item">
          <a href="{{ page.base-url }}{{ locale.about }}/">
            {{ locale.about_maj }}
            <!-- nomicrotypo -->
            {% include img/avatar.svg %}
            <!-- endnomicrotypo -->
          </a>
        </li>
      </ul>
    </nav>

    {% include sidebar-follow-icons.html.liquid %}

  </div>
</div>
